<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
            
    
    <wb-module deploy-name="secretaria_server">
                        
        
        <wb-resource deploy-path="/" source-path="/ejbModule" tag="defaultRootSource"/>
        <property name="java-output-path" value="/secretaria_server/build/classes"/>
                    
    
    </wb-module>
        

</project-modules>
